@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(govukInput: GovukInput)

@(
    form: Form[_],
    id: String,
    label: String,
    isPageHeading: Boolean = true,
    name: Option[String] = None,
    headingMessageArgs: Seq[String] = Seq(),
    hint: Option[Html] = None,
    classes: Option[String] = None,
    stripWhitespace: Boolean = false
)(implicit messages: Messages)

@govukInput(Input(
    id,
    name.getOrElse(id),
    classes = classes.fold("")(x => x),
    label = Label(
        content = Text(messages(label, headingMessageArgs:_*)),
        isPageHeading = isPageHeading,
        classes = if(isPageHeading) "govuk-label--xl" else ""
    ),
    hint = hint.map(hintHtml => Hint(
        content = HtmlContent(hintHtml)
    )),
    value = form(name).value,
    errorMessage = form(name).error.map(err => ErrorMessage(content = Text(messages(err.message, err.args:_*))))
))

