@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.coronavirus.jrs.calculator.config.AppConfig

@this(appConfig: AppConfig, govUkWrapper: govuk_wrapper, uiSidebar: uk.gov.hmrc.play.views.html.layouts.Sidebar, uiArticle: uk.gov.hmrc.play.views.html.layouts.Article)

@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.layouts


@serviceInfoContent = {}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @uiSidebar(sidebarLinks.get, Some("sidebar"))
    }
}


@govUkWrapper(appConfig = appConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = uiArticle(mainContent),
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem
)
