@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.viewmodels.summarylist.SummaryListRow

@this(
        govukLayout: templates.GovukLayoutWrapper,
        govukSummaryList: GovukSummaryList,
        h1: components.h1,
        subheading: components.subheading,
        button: components.button,
        formHelper: FormWithCSRF
)

@(answers: Seq[SummaryListRow])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(titleNoForm("checkYourAnswers.title"))) {

    @h1(messages("checkYourAnswers.heading"))

}