@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
    govukLayout: templates.GovukLayoutWrapper,
    errorSummary: components.errorSummary,
    inputDate: components.inputDate,
    formHelper: FormWithCSRF,
    button: components.button,
    h1: components.h1,
    p: components.p
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "claimPeriod.title"))) {

    @formHelper(action = ClaimPeriodController.onSubmit(mode), 'autoComplete -> "off") {

        @errorSummary(form.errors, Some("date-value.day"))

        @h1("claimPeriod.heading")

        @p(Html(Messages("claimPeriod.p1")))

        @p(Html(Messages("claimPeriod.p2")))

        @p(Html(Messages("claimPeriod.p3")))

        @inputDate(
            form = form,
            legendContent = "claimPeriod.start.legend",
            id = "startDateValue",
            hintText = Some("claimPeriod.start.hint"),
            legendAsPageHeading = false,
            legendClasses = "govuk-label--m"
        )

        @inputDate(
            form = form,
            legendContent = "claimPeriod.end.legend",
            id = "endDateValue",
            hintText = Some("claimPeriod.end.hint"),
            legendAsPageHeading = false,
            legendClasses = "govuk-label--m",
        )

        @button("site.continue")
    }
}
