@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        h1: components.h1,
        p: components.p,
        button: components.button,
        formHelper: FormWithCSRF,
        link: components.link
)

@(showCalculateTopupsLink: Boolean = false)(implicit request: Request[_], messages: Messages)

    @govukLayout(pageTitle = Some(titleNoForm( if(showCalculateTopupsLink) "comingSoon.topup.title" else "comingSoon.title"))) {

        @formHelper(action = ClaimPeriodStartController.onPageLoad(NormalMode), args = 'novalidate -> "novalidate") {

            @if(showCalculateTopupsLink) {
                @h1("comingSoon.topup.heading")
                @p(Html(messages("comingSoon.topup.p")))
                @p {
                    @link(routes.ConfirmationController.onPageLoad().url, "comingSoon.showCalculateTopupsLink.label")
                }
            } else {
                @h1("comingSoon.heading")
                @p(Html(messages("comingSoon.p")))
            }

            @button("comingSoon.start.another")
        }
    }
