@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        h1: components.h1,
        p: components.p,
        button: components.button,
        formHelper: FormWithCSRF,
        link: components.link
)

@(showCalculateTopupsLink: Boolean = false)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(titleNoForm("comingSoon.title"))) {

    @formHelper(action = ClaimPeriodStartController.onPageLoad(NormalMode)) {

        @h1("comingSoon.heading")
        @p(Html(messages("comingSoon.p")))

        @if(showCalculateTopupsLink) {
            @p{
                @link(routes.ConfirmationController.onPageLoad().url, "comingSoon.showCalculateTopupsLink.label")
            }
        }

        @button("comingSoon.start.another")
    }
}
