@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        h1: components.h1,
        p: components.p,
        button: components.button,
        formHelper: FormWithCSRF
)

@()(implicit request: Request[_], messages: Messages)

    @govukLayout(pageTitle = Some(titleNoForm("comingSoon.title"))) {

        @formHelper(action = ClaimPeriodStartController.onPageLoad(NormalMode)) {

            @h1("comingSoon.heading")
            @p(Html(messages("comingSoon.p")))

            @button("comingSoon.start.another")
        }
    }
