@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import viewmodels.ConfirmationViewBreakdown
@import viewmodels.ConfirmationMetadata
@import java.time.LocalDate
@import models.FurloughQuestion.Yes

@this(
    govukLayout: templates.GovukLayoutWrapper,
    h1: components.h1,
    h2: components.h2,
    p: components.p,
    confirmation: components.confirmation,
    button: components.button,
    link: components.link,
    appConfig: config.FrontendAppConfig
)

@(cm: ConfirmationMetadata, cvb: ConfirmationViewBreakdown, version: String, furlough: FurloughQuestion)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(titleNoForm("confirmation.title")), showBackButton = false) {

    @confirmation{

        @h1(Html(messages("confirmation.heading")), classes = Some("govuk-panel__body govuk-!-margin-bottom-4 govuk-!-margin-top-0 govuk-!-font-size-27"))

        <div class="furlough-heading">
          <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-4 govuk-!-margin-top-0">@messages("confirmation.confirmation.p1")</p>
          <p class="govuk-panel__title">&pound;@cvb.furlough.total.setScale(2)</p>
        </div>

        <div class="furlough-heading">
          <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-4 govuk-!-margin-top-0">@messages("confirmation.confirmation.p2")</p>
          <p class="govuk-panel__title">&pound;@cvb.nic.total.setScale(2)</p>
        </div>

        <div class="furlough-heading">
          <p class="govuk-!-font-weight-regular govuk-!-font-size-24 govuk-!-margin-bottom-4 govuk-!-margin-top-0">@messages("confirmation.confirmation.p3")</p>
          <p class="govuk-panel__title">&pound;@cvb.pension.total.setScale(2)</p>
        </div>

    }

    @h2(Html(messages("confirmation.explanation.heading")), classes = Some("govuk-heading-m"))

    @p{
      <span class="govuk-!-font-weight-bold">@messages("confirmation.calculated.on")</span>
      @dateToString(LocalDate.now())
      @Html(messages("confirmation.date.version", version))
    }

    @p(Html(messages("confirmation.disclaimer")))

    <ul class="govuk-list govuk-list--bullet">
        <li>@messages("confirmation.claimPeriod", dateToString(cm.claimPeriod.start), dateToString(cm.claimPeriod.end))</li>
        <li>
        @if(furlough == Yes) {
            @messages("confirmation.furloughPeriod.startedAndEnded", dateToString(cm.furloughPeriod.start), dateToString(cm.furloughPeriod.end))
        } else {
            @messages("confirmation.furloughPeriod.started", dateToString(cm.furloughPeriod.start))
        }
        <li>@messages(s"confirmation.paid.${cm.frequency}")</li>
        <li>@messages(s"confirmation.nic.${cm.nic}")</li>
        <li>@messages(s"confirmation.pension.${cm.pension}")</li>
    </ul>

    @h2(Html(messages("confirmation.breakdown.h2")), classes = Some("govuk-heading-m"))

    @p(Html(messages("confirmation.breakdown.p")))

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          @messages("confirmation.breakdown.details")
        </span>
        </summary>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            @for((furlough, nic, pension) <- (cvb.furlough.payPeriodBreakdowns, cvb.nic.payPeriodBreakdowns, cvb.pension.payPeriodBreakdowns).zipped.toList) {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="width: 15%">
                        @messages("confirmation.breakdown.dt")
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @messages("confirmation.breakdown.ending", dateToString(furlough.periodWithPaymentDate.period.period.end))<br>
                        @Html(messages("confirmation.breakdown.furlough", furlough.grant.value.setScale(2)))<br>
                        @Html(messages("confirmation.breakdown.nic", nic.grant.value.setScale(2)))<br>
                        @Html(messages("confirmation.breakdown.pension", pension.grant.value.setScale(2)))
                    </dd>
                </div>
            }
        </dl>
    </details>

    @h2(Html(messages("confirmation.nextSteps.heading")), classes = Some("govuk-heading-m"))

    <ul class="govuk-list govuk-list--number">

        <li>
          @messages("confirmation.nextSteps.li.1")
          <span class="govuk-!-font-weight-bold">@messages("confirmation.nextSteps.li.1.2")</span>
        </li>
        <li>@messages("confirmation.nextSteps.li.2")<br>
            <ul class="govuk-list--list">
                <li>@messages("confirmation.nextSteps.li.2.1")</li>
                <li>@messages("confirmation.nextSteps.li.2.2")</li>
                <li>@messages("confirmation.nextSteps.li.2.3")</li>
            </ul></li>
        <li>@messages("confirmation.nextSteps.li.3.1") @link(appConfig.workOutHowMuch,"confirmation.nextSteps.li.3.2", true)</li>
        <li>@Html(messages("confirmation.nextSteps.li.4.1", link(appConfig.jobRetentionScheme,"confirmation.nextSteps.li.4.2")))
        </li>
    </ul>

    @button(messages("confirmation.startAgain"), href = Some(routes.ClaimPeriodStartController.onPageLoad(NormalMode)), classes = Some("govuk-button"))

    @p(Html(messages("confirmation.webchat")))
}

