@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import viewmodels.ConfirmationViewBreakdown
@import viewmodels.ConfirmationMetadata
@import models.FurloughQuestion.Yes

@this(
    govukLayout: templates.GovukLayoutWrapper,
    h1: components.h1,
    h2: components.h2,
    p: components.p,
    confirmation: components.confirmation,
    button: components.button
)

@(cm: ConfirmationMetadata, cvb: ConfirmationViewBreakdown)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(titleNoForm("confirmation.title"))) {

    @confirmation{

        @h1(Html(messages("confirmation.heading")), classes = Some("govuk-panel__body govuk-!-font-size-24"))

        <span class="govuk-!-font-weight-bold">&pound;@cvb.furlough.total.setScale(2)</span> - Furloughed pay <br/>
        <span class="govuk-!-font-weight-bold">&pound;@cvb.nic.total.setScale(2)</span> - Employer NIC <br/>
        <span class="govuk-!-font-weight-bold">&pound;@cvb.pension.total.setScale(2)</span> - Pension contribution <br/>
    }

    @h2(Html(messages("confirmation.explanation.heading")), classes = Some("govuk-heading-m"))

    @p(Html(messages("confirmation.explanation.p1")))

    <ul class="govuk-list govuk-list--bullet">
        <li>@messages("confirmation.claimPeriod", cm.claimPeriod.startDate, cm.claimPeriod.endDate)</li>
        @if(cm.furloughQuestion == Yes) {
            <li>@messages("confirmation.furlough.wholePeriod")</li>
        } else {
          <li>@messages("confirmation.furlough.partPeriod")</li>
        }
        <li>@messages(s"confirmation.paid.${cm.frequency}")</li>
        <li>@messages(s"confirmation.nic.${cm.nic}")</li>
        <li>@messages(s"confirmation.pension.${cm.pension}")</li>
    </ul>

    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          @messages("confirmation.breakdown.details")
        </span>
        </summary>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            @for((furlough, nic, pension) <- (cvb.furlough.payPeriodBreakdowns, cvb.nic.payPeriodBreakdowns, cvb.pension.payPeriodBreakdowns).zipped.toList) {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Breakdown by pay date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Up to @furlough.payPeriodWithPayDay.payPeriod.end<br><br>
                        &pound;@furlough.amount.setScale(2) <span class="govuk-!-font-weight-regular"> - Furloughed pay</span> <br>
                        &pound;@nic.amount.setScale(2) <span class="govuk-!-font-weight-regular">- Employer NIC</span> <br>
                        &pound;@pension.amount.setScale(2) <span class="govuk-!-font-weight-regular">- Pension contribution</span>
                    </dd>
                </div>
            }
        </dl>
    </details>

    @h2(Html(messages("confirmation.nextSteps.heading")), classes = Some("govuk-heading-m"))

    @p(Html(messages("confirmation.nextSteps.p1")))

    @button(messages("confirmation.startAgain"), href = Some(routes.StartAgainController.startAgain()), classes = Some("govuk-button--secondary"))
}
