@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        errorSummary: components.errorSummary,
        inputDate: components.inputDate,
        formHelper: FormWithCSRF,
        button: components.button,
        h1: components.h1,
        p: components.p
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "furloughStartDate.title"))) {

    @formHelper(action = FurloughStartDateController.onSubmit(), args = 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1(messages("furloughStartDate.heading"))
        @p(Html(messages("furloughStartDate.hint")))

        @inputDate(
            form,
            legendContent = "furloughStartDate.heading",
            legendAsPageHeading = false,
            legendClasses = "govuk-visually-hidden"
        )

        @button("site.continue")
    }
}
