@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate

@import controllers.routes._
@import models.FurloughStatus

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputRadio: components.inputRadio,
        button: components.button
)

@(form: Form[_], startDate: LocalDate, endDate: LocalDate)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "furloughOngoing.title"))) {

    @formHelper(action = FurloughOngoingController.onSubmit(), 'autoComplete -> "off", 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @inputRadio(
            form = form,
            legend = messages("furloughOngoing.heading"),
            items = FurloughStatus.options(form)
        )

        @button("site.continue")
    }
}
