@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
    govukLayout: templates.GovukLayoutWrapper,
    errorSummary: components.errorSummary,
    inputDate: components.inputDate,
    formHelper: FormWithCSRF,
    button: components.button,
        h1: components.h1,
        p: components.p
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "furloughEndDate.title"))) {

    @formHelper(action = FurloughEndDateController.onSubmit(), args = 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1(messages("furloughEndDate.heading"))
        @p(Html(messages("furloughEndDate.p")))

        @inputDate(
            form,
            legendContent = messages("furloughEndDate.heading"),
            legendClasses = "govuk-visually-hidden",
            legendAsPageHeading = false,
            hintText = Some("furloughEndDate.hint")
        )

        @button("site.continue")
    }
}
