@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.{Mode, FurloughCalculations}

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputRadio: components.inputRadio,
        button: components.button,
        h1: components.h1,
        h2: components.h2,
        p: components.p
)

@(form: Form[_], mode: Mode, calculationResult: CalculationResult)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "furloughCalculations.title"))) {

    @formHelper(action = FurloughCalculationsController.onSubmit(mode), 'autoComplete -> "off", 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1("furloughCalculations.heading")

        <table class="govuk-table review-authorisations govuk-!-margin-bottom-7">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">

                    <th class="govuk-table__header">
                        @messages("furloughCalculations.payperiodending.label")
                    </th>
                    <th class="govuk-table__header">
                        <span class="govuk-!-font-weight-bold">@messages("furloughCalculations.grossfurloughamount.label")</span>
                    </th>

                </tr>

                @calculationResult.payPeriodBreakdowns.map { periodBreakdown =>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@dateToString(periodBreakdown.periodWithPaymentDate.period.period.end)</td>
                        <td class="govuk-table__cell">
                        £@periodBreakdown.grant.value.setScale(2)
                        </td>
                    </tr>
                }

                <tr class="govuk-table__row" style="border-top: 5px solid #b1b4b6">
                    <td class="govuk-table__cell" style="border-bottom:0"><span class="govuk-!-font-weight-bold">@messages("furloughCalculations.total.label")</span></td>
                    <td class="govuk-table__cell" style="border-bottom:0">
                        <span class="govuk-!-font-weight-bold"> £@calculationResult.total.setScale(2) </span>
                    </td>
                </tr>
            </tbody>
        </table>

        @h2("furloughCalculations.p1", classes = Some("govuk-heading-m govuk-!-margin-bottom-1"))

        @p(Html(messages("furloughCalculations.p2")))

        @p(Html(messages("furloughCalculations.p3")))

        @inputRadio(
            form = form,
            legend = messages("furloughCalculations.p1"),
            legendAsHeading = false,
            classes = "govuk-visually-hidden",
            items = FurloughCalculations.options(form)
        )

        @button("site.continue")
    }
}
