@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputNumber: components.inputNumber,
        h1: components.h1,
        button: components.button
)

@(form: Form[_], idx: Int)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "lastYearPay.title"))) {

    @formHelper(action = LastYearPayController.onSubmit(idx), 'autoComplete -> "off") {

        @errorSummary(form.errors)

        @inputNumber(
            form,
            id = "value",
            name = "value",
            label = "lastYearPay.heading",
            isPageHeading = true,
            classes = Some("govuk-input--width-10")
        )

        @button("site.saveAndContinue")
    }
}
