@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate
@this(
        govukLayout: templates.GovukLayoutWrapper,
        errorSummary: components.errorSummary,
        inputDate: components.inputDate,
        formHelper: FormWithCSRF,
        button: components.button,
        details: components.details,
        h1: components.h1,
        p: components.p
)

@(form: Form[_], date: LocalDate)(implicit request: Request[_], messages: Messages)

    @govukLayout(pageTitle = Some(title(form, "lastPayDate.title", titleMessageArgs = Seq(dateToString(date))))) {

        @formHelper(action = LastPayDateController.onSubmit(), 'autoComplete -> "off", 'novalidate -> "novalidate") {

            @errorSummary(form.errors)

            @h1(messages("lastPayDate.heading", dateToString(date)))

            @p(Html(messages("lastPayDate.p1")))

            @p(Html(messages("lastPayDate.p2")))

            @details(
              summaryText = Messages("lastPayDate.details.title")
            ) {
              <p>@Messages("lastPayDate.details.p1")</p>
              <p>@Messages("lastPayDate.details.p2")</p>
            }

            @inputDate(
                form,
                legendContent = messages("lastPayDate.heading", dateToString(date)),
                legendClasses = "govuk-visually-hidden",
                legendAsPageHeading = false
            )

            @button("site.continue")
        }
    }
