@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.{Mode, NicCategory}

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputRadio: components.inputRadio,
        button: components.button,
        h1: components.h1,
        p: components.p
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "nicCategory.title"))) {

    @formHelper(action = NicCategoryController.onSubmit(mode), 'autoComplete -> "off") {

        @errorSummary(form.errors)

      @h1(messages("nicCategory.heading"))
      @p(Html(messages("nicCategory.hint")))

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                @messages("nicCategory.details.summary")
                </span>
            </summary>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">
                            @messages("nicCategory.letter.legend")
                        </th>
                        <th class="govuk-table__header">
                            @messages("nicCategory.group.legend")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.letter.a")
                        </td>
                        <td class="govuk-table__cell">
                        @messages("nicCategory.details.category.a")
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.letter.b")
                        </td>
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.category.b")
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.letter.c")
                        </td>
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.category.c")
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.letter.j")
                        </td>
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.category.j")
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.letter.h")
                        </td>
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.category.h")
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.letter.m")
                        </td>
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.category.m")
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.letter.z")
                        </td>
                        <td class="govuk-table__cell">
                            @messages("nicCategory.details.category.z")
                        </td>
                    </tr>
                </tbody>
            </table>
        </details>

        @inputRadio(
            form = form,
            legend = messages("nicCategory.heading"),
            legendAsHeading = false,
            classes = "govuk-visually-hidden",
            items = NicCategory.options(form)
        )

        @button("site.continue")
    }
}
