@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate

@this(
    govukLayout: templates.GovukLayoutWrapper,
    errorSummary: components.errorSummary,
    inputDate: components.inputDate,
    formHelper: FormWithCSRF,
    button: components.button,
    details: components.details,
    h1: components.h1,
    p: components.p
)

@(form: Form[_], idx: Int, messageDate: LocalDate)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, if(idx == 1){"payDate.title.firstDate"} else {"payDate.title"}, titleMessageArgs = Seq(dateToString(messageDate))))) {

    @formHelper(action = PayDateController.onSubmit(idx), args = 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1(messages(if(idx == 1){"payDate.heading.firstDate"} else {"payDate.heading"}, dateToString(messageDate)))

        @p(Html(messages(if(idx == 1){"payDate.firstP"} else {"payDate.p"})))

        @details(
          summaryText = Messages("payDate.details.title")
        ) {
          <p>@Messages("payDate.details.content")</p>
        }

        @inputDate(
            form,
            legendContent = messages(if(idx == 1){"payDate.heading.firstDate"} else {"payDate.heading"}, dateToString(messageDate)),
            legendClasses = "govuk-visually-hidden",
            legendAsPageHeading = false
        )

        @button("site.continue")
    }
}
