@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate

@this(
    govukLayout: templates.GovukLayoutWrapper,
    errorSummary: components.errorSummary,
    inputDate: components.inputDate,
    formHelper: FormWithCSRF,
    button: components.button
)

@(form: Form[_], idx: Int, messageDate: LocalDate)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, if(idx == 1){"payDate.title.firstDate"} else {"payDate.title"}))) {

    @formHelper(action = PayDateController.onSubmit(idx), 'autoComplete -> "off") {

        @errorSummary(form.errors, Some("date-value.day"))

        @inputDate(
            form,
            if(idx == 1){"payDate.heading.firstDate"} else {"payDate.heading"},
            legendContentArgs = Seq(dateToString(messageDate)),
            hintText = Some("payDate.hint")
        )

        @button("site.saveAndContinue")
    }
}
