@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.PayMethod

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputRadio: components.inputRadio,
        button: components.button
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "payMethod.title"))) {

    @formHelper(action = PayMethodController.onSubmit(), 'autoComplete -> "off", 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @inputRadio(
            form = form,
            legend = messages("payMethod.heading"),
            items = PayMethod.options(form)
        )

        @button("site.continue")
    }
}
