@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputRadio: components.inputRadio,
        button: components.button
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "pensionContribution.title"))) {

    @formHelper(action = PensionContributionController.onSubmit(), args = 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @inputRadio(
          form = form,
            legend = messages("pensionContribution.heading"),
            items = PensionStatus.options(form)
        )

        @button("site.continue")
    }
}
