@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        yesNoRadio: components.yesNoRadio,
        button: components.button,
        p: components.p,
        h1: components.h1
)

@(payDateList: Seq[LocalDate], form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "reviewPayDates.title"))) {

    @formHelper(action = ReviewPayDatesController.onSubmit(mode)) {

        @h1("reviewPayDates.heading")

        @errorSummary(form.errors)

        @for(date <- payDateList) {
            @p(Html(date.toString))
        }

        @yesNoRadio(form, "reviewPayDates.addMore", isPageHeading = false, classes = "govuk-heading-m")

        @button("site.saveAndContinue")
    }
}
