@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        button: components.button,
        inputCurrency: components.inputCurrency,
        fieldset: components.fieldset,
        h1: components.h1,
        p: components.p,
        panel: components.panelIndent
)

@(form: Form[_], paymentFrequency: PaymentFrequency)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, s"salaryQuestion.title.${paymentFrequency}"))) {


    @formHelper(action = SalaryQuestionController.onSubmit(), args = 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1(messages(s"salaryQuestion.heading.$paymentFrequency"))

        @p(Html(messages("salaryQuestion.salary.hint")))

        @panel(Html(messages("salaryQuestion.inset.info")))

        @inputCurrency(
            form,
            id = "salary",
            name = "salary",
            label = messages(s"salaryQuestion.heading.$paymentFrequency"),
            labelClasses = Some("govuk-visually-hidden"),
            isPageHeading = false,
            classes = Some("govuk-input--width-10")
        )

        @button("site.continue")
    }
}
