@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        main_template: templates.GovukLayoutWrapper,
        h1: components.h1,
        p: components.p,
        button: components.button
)

@()(implicit request: Request[_], messages: Messages)

@main_template(Some(titleNoForm("session_expired.title")), timeout = false) {

    @h1(messages("session_expired.heading"))

    @p(Html(messages("session_expired.guidance")))

    @button("session_expired.restart", href = Some(routes.ClaimPeriodStartController.onPageLoad().url))
}
