@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@this(
        govukLayout: templates.GovukLayoutWrapper,
        errorSummary: components.errorSummary,
        inputDate: components.inputDate,
        formHelper: FormWithCSRF,
        button: components.button,
        h1: components.h1,
        p: components.p
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

    @govukLayout(pageTitle = Some(title(form, "taxYearPayDate.title"))) {

        @formHelper(action = TaxYearPayDateController.onSubmit(mode), 'autoComplete -> "off") {

            @errorSummary(form.errors)

            @h1("taxYearPayDate.heading")

            @p(Html(Messages("taxYearPayDate.p1")))

            @p(Html(Messages("taxYearPayDate.p2")))

            @inputDate(
                form = form,
                legendContent = "taxYearPayDate.legend",
                id = "payDate",
                hintText = Some("taxYearPayDate.hint"),
                legendAsPageHeading = false,
                legendClasses = "govuk-label--m"
            )

            @button("site.continue")
        }
    }
