@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        button: components.button,
        inputText: components.inputText,
        fieldset: components.fieldset,
        h1: components.h1,
        p: components.p,
        inputCurrency: components.inputCurrency
)

@(form: Form[_], furloughStart: LocalDate)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "variableGrossPay.title"))) {

    @formHelper(action = VariableGrossPayController.onSubmit(), args = 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1(messages("variableGrossPay.heading"))
        @p(Html(messages("variableGrossPay.p")))
        <ul class="govuk-list govuk-list--bullet">
            <li>@messages("variableGrossPay.l1")</li>
            <li>@messages("variableGrossPay.l2", dateToString(furloughStart))</li>
        </ul>

        @inputCurrency(
            form,
            id = "value",
            name = "value",
            label = "",
            isPageHeading = false,
            classes = Some("govuk-input--width-10")
        )

        @button("site.continue")
    }
}
