@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.VariableLengthEmployed

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputRadio: components.inputRadio,
        button: components.button,
        h1: components.h1,
        p: components.p
)

@(form: Form[_])(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "variableLengthEmployed.title"))) {

    @formHelper(action = VariableLengthEmployedController.onSubmit(), 'autoComplete -> "off", 'novalidate -> "novalidate") {

        @errorSummary(form.errors)

        @h1("variableLengthEmployed.heading")

        @p(Html(messages("variableLengthEmployed.hint")))

        @inputRadio(
            form = form,
            legend = "",
            items = VariableLengthEmployed.options(form)
        )

        @button("site.continue")
    }
}
