@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import java.time.LocalDate

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        button: components.button,
        h1: components.h1,
        p: components.p,
        inputCurrency: components.inputCurrency
)

@(form: Form[_], date1: LocalDate, date2: LocalDate, submitUrl: Call)(implicit request: Request[_], messages: Messages)

    @govukLayout(pageTitle = Some(title(form, if(date1.isEqual(date2)) "FurloughPartialPay.title.on" else "FurloughPartialPay.title.between", titleMessageArgs = Seq(dateToString(date1), dateToString(date2))))) {


        @formHelper(action = submitUrl, args = 'novalidate -> "novalidate") {

            @errorSummary(form.errors)

            @h1(messages(if(date1.isEqual(date2)) "FurloughPartialPay.heading.on" else "FurloughPartialPay.heading.between", dateToString(date1), dateToString(date2)))
            @p(Html(messages("FurloughPartialPay.p")))

            @inputCurrency(
                form,
                id = "value",
                name = "value",
                label = "",
                isPageHeading = false,
                classes = Some("govuk-input--width-10")
            )

            @button("site.continue")
        }
    }
