@*
 * Copyright 2020 HM Revenue & Customs
 *
 *@

@import controllers.routes._
@import models.{Mode, VariableLengthEmployed}

@this(
        govukLayout: templates.GovukLayoutWrapper,
        formHelper: FormWithCSRF,
        errorSummary: components.errorSummary,
        inputRadio: components.inputRadio,
        button: components.button
)

@(form: Form[_], mode: Mode)(implicit request: Request[_], messages: Messages)

@govukLayout(pageTitle = Some(title(form, "variableLengthEmployed.title"))) {

    @formHelper(action = VariableLengthEmployedController.onSubmit(mode), 'autoComplete -> "off") {

        @errorSummary(form.errors)

        @inputRadio(
            form = form,
            legend = messages("variableLengthEmployed.heading"),
            items = VariableLengthEmployed.options(form)
        )

        @button("site.continue")
    }
}
